.circle {
  position: relative;
  padding: 0;
  width: 320px;
  height: 100px;
  z-index: 1;
  background: #3175c0;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 100px;
}
.line-height-65 {
  line-height: 65px !important;
}

.f-s-48 {
  font-size: 48px;
}

.f-s-20 {
  font-size: 20px;
}

.f-c-w {
  color: white
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-15 {
  padding-top: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #4d4d33;
  animation: fadein 4s linear forwards;
}
@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
.note {
  font-size: 14px;
  color: #4d4d33;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.matCardService {
  width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  min-height: 240px;
}

.nameList {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #4d4d33;
}

mat-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #4d4d33;
}


@media screen  and (min-width:768px) and (max-width:1024px) {
  .mat-mdc-card {
    overflow: unset !important;
}  
.matCardService {
  width: 589px;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  min-height: 240px;
}
.circle {
  position: relative;
  padding: 0;
  width: 390px;
  height: 100px;
  z-index: 1;
  background: #3175c0;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 110px;
}
}
@media screen  and (min-width:360px) and (max-width:430px) {
  .mat-mdc-card {
    overflow: unset !important;
}
  .circle {
    position: relative;
    padding: 0;
    width: 270px;
    height: 100px;
    z-index: 1;
    background: #3175c0;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 50px;
}
.matCardService {
  width: 345px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  min-height: 240px;
} 
}