.box {
  height: 70px;
}

.input-full-width {
  width: 100%;
}

.radio-btn {
  margin-left: 20px;
}

.control-label {
  font-weight: normal;
}

.mat-form-field {
  line-height: unset;
}

.mat-mdc-form-field {
 width: 300px !important;
}
.input-full-width[_ngcontent-ng-c1990878134] {
  width: 300px
}