<footer class="footer container-fluid">
  <div class="row">
    <div class="col-3 text-left">
      <span
        class="footer-text"
        *ngIf="currentLanguageSet === null || currentLanguageSet === undefined"
        >Powered by: WIPRO</span
      >
      <span
        class="footer-text"
        *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined"
        >{{ currentLanguageSet?.coreComponents?.poweredByWipro }}</span
      >
    </div>
    <div class="col-3 text-center">
      <p
        class="footer-text"
        *ngIf="currentLanguageSet === null || currentLanguageSet === undefined"
      >
        {{ year }} © PSMRI
      </p>
      <p
        class="footer-text"
        *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined"
      >
        {{ year }} © {{ currentLanguageSet?.coreComponents?.pSMRI }}
      </p>
    </div>
    <div
      class="col-3 text-end"
      style="cursor: pointer"
      [routerLink]="['/feedback']"
      [queryParams]="{ sl: 'TM' }"
      role="link"
    >
      <mat-icon style="vertical-align: top; font-size: medium; margin-right: 2%"
        >mail</mat-icon
      >
      <span class="footer-text"
        >{{ currentLanguageSet?.platform_feedback?.feedback ?? "Feedback" }}
      </span>
    </div>
    <div class="col-3 text-end">
      <p class="footer-text">
        <span
          class="footer-text"
          *ngIf="
            currentLanguageSet === null || currentLanguageSet === undefined
          "
          >{{ status ? "Online" : "Offline" }}</span
        >
        <span
          [style.background]="status ? 'green' : 'red'"
          style="
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
          "
          *ngIf="
            currentLanguageSet !== null && currentLanguageSet !== undefined
          "
        ></span>
        {{
          status
            ? currentLanguageSet?.coreComponents?.online
            : currentLanguageSet?.coreComponents?.offline
        }}&nbsp;
      </p>
    </div>
  </div>
</footer>
